.mmu-controls {
  margin-bottom: 1em;
}

.mmu-controls .form-item {
  float: left;
  margin-right: 15px;
}

.mmu-controls .form-actions {
  float: right;
  margin-right: .5%;
}

.mmu-reset-button {
  margin: 0;
}

#mmu-container {
  display: flex;
  flex-wrap: wrap;
}
.mmu-mix {
  background-color: #eee;
  visibility: hidden;
  width: 19%;
  margin: 0 1% 1% 0;
  outline: outset 1px #ccc;
  padding: 3px 0;
  border-width: 0;
  color: #1d1d1d;
}

.mmu-container-processed .mmu-mix {
  visibility: visible;
}

@media all and (max-width: 1550px) {
  .mmu-mix {
    width: 24%;
  }
}

@media all and (max-width: 1380px) {
  .mmu-mix {
    width: 32%;
  }
}

@media all and (max-width: 1024px) {
  .mmu-mix {
    width: 49%;
  }
}

@media all and (max-width: 800px) {
  .mmu-mix {
    width: 98%;
  }
}

.mmu-mix-label {
  margin: 0 9px;
}

.mmu-mix-label label {
  font-weight: bold;
}

.mmu-mix-short-description {
  margin: 0 9px;
  line-height: 125%;
  height: 35px;
  cursor: pointer;
  overflow: hidden;
}

.mmu-mix-short-description:hover {
  text-decoration: underline;
}

.mmu-modules-list #edit-summary {
  border-top: solid 1px #eee;
  text-align: right;
  margin: 25px;
  font-style: italic;
  clear: both;
}

.mmu-dialog-detail {
  line-height: 125%;
  font-size: .9em;
  color: #555;
}

#mmu-container .mmu-status-selected {
  background-color: #efe7d0;
}

.mmu-mix:before {
  content: "core";
  display: block;
  float: right;
  margin: -3px 5px 0 0;
  color: #999;
  text-shadow: 1px 1px #fff;
}

.mmu-source-core:before {
  content: "core";
}

.mmu-source-contrib:before {
  content: "contrib";
}

.mmu-source-custom:before {
  content: "custom";
}

#edit-total-selected {
  text-align: center;
  color: #e7860c;
}

.mmu-status-enabled,
.mmu-status-enabled .form-disabled label {
  background: #c7f0cf;
}

.module-link-project-page {
  background: url(../images/druplicon.png) 0 50% no-repeat;
}
